<div class="container">
  <div class="form-new form-group">
     <h1>Add your workshop:</h1>
    <%= simple_form_for @workshop, wrapper: :horizontal_form, html: { class: 'form-group ' } do |w| %>

    <div class="form-row">
      <%= w.input :name, wrapper_html: { class: 'col-sm-6' }, input_html: { class: 'workshop-input' }, label: false, placeholder: "Name" %>
      <%= w.input :price, wrapper_html: { class: 'col-sm-6' }, input_html: { class: 'workshop-input' }, label: false, placeholder: "Price" %>
    </div>

    <div class="form-row">
     <!--  <%= w.input :category, wrapper_html: { class: 'col-sm-6' }, input_html: { class: 'workshop-input' }, label: false, placeholder: 'Category' %> -->
      <%= w.input :category, wrapper_html: { class: 'col-sm-6' }, input_html: { class: 'workshop-input'}, label: false, include_blank: "Category",:collection => %w[audio
 ceramics
 design
 digital
 drawing
 environmental
 music
 online
 painting
 photography
 printmaking
 video
 performance
 social
 textiles
 theoretical
 reading
 tour
 writing
 sculpture
 woodwork
 other] %>
      <%= w.input :capacity, wrapper_html: { class: 'col-sm-6' }, input_html: { class: 'workshop-input' }, label: false, placeholder: 'Capacity' %>
    </div>
    <%= w.input :date, wrapper_html: { class: 'col-sm-6' }, input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y') } %>

  <div class="form-row">

    <%= w.input :area, wrapper_html: { class: 'col-sm-6' }, input_html: { class: 'workshop-input', id: 'workshop_area'}, label: false, include_blank: "Area",:collection => %w[ Mitte Kreuzberg Neukölln Prenzlauer-Berg Charlottenberg] %>

    <%= w.input :address, wrapper_html: { class: 'col-sm-6' }, input_html: { class: 'workshop-input', id: 'workshop_address' }, label: false, placeholder: 'Address' %>

    </div>

  <div class="form-row">
      <%= w.input :description, wrapper_html: { class: 'col-sm-6' }, input_html: { class: 'workshop-input' }, label: false, placeholder: 'Description' %>
  </div>

  <div class="form-row">
    <%= w.input :difficulty, wrapper_html: { class: 'col-sm-6' }, input_html: { class: 'workshop-input'}, label: false, include_blank: "Difficulty",:collection => %w[ Beginner Medium Advanced] %>
  </div>

  <div class="form-row">
      <%= w.input :syllabus, wrapper_html: { class: 'col-sm-6' }, input_html: { class: 'workshop-input' }, label: false, placeholder: 'Syllabus'  %>
  </div>

  <div class="form-row">
      <%= w.input :photo, wrapper_html: { class: 'col-sm-6' }, input_html: { class: 'workshop-input' }, label: false, placeholder: 'Photo' %>
      <%= w.input :photo_cache, as: :hidden %>
  </div>

  <div class="form-row">
      <%= w.button :submit, class: 'btn-info' %>
  </div>
  <% end %>

</div>
</div>

