<div class="container">
  <h1 id="browse-header">Browse Workshops</h1>

  <div class="hostbutton" id="hostbutton">
    <%= link_to 'HOSTING A WORKSHOP? LIST IT HERE!', new_workshop_path, class: "btn-book" %>
  </div>


<div class="container">
  <% @workshops.each do |workshop| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="workshop-index-card shadowbox">
        <div class="workshop-top-image">
          <%= cl_image_tag workshop.photo, width: 313, height: 120, crop: :fill unless workshop.photo.blank? %>
        </div>
        <div class="workshop-main-text">
          <% asset_url = "#{workshop.category}.png" %>
          <%= image_tag(asset_url, width: 60, height: 60) %>
          <%= link_to workshop.name, workshop_path(workshop) %>
         <div id="workshop-index-address"><%= workshop.address %></div>
        </div>
        <div class="favourite-ticker" id="fav-link-<%= workshop.id %>">
           <% if user_signed_in? %>
              <%= render 'favourited_link', workshop: workshop %>
          <% end %>
          </div>
        <div class="workshop-icon-flex">
           <!--  icons -->

                        <% if workshop.description.include?("painting") || workshop.name.include?("painting") %>
                        <%= image_tag "paint.png", height: 30 %>
                        <% elsif workshop.description.include?("origami") || workshop.name.include?("origami") %>
                        <%= image_tag "origami.png", height: 30 %>
                        <% elsif workshop.description.include?("pottery") || workshop.name.include?("pottery") %>
                        <%= image_tag "ceramics.png", height: 30 %>
                        <% elsif workshop.description.include?("printing") || workshop.name.include?("priting") %>
                        <%= image_tag "paintroll.png", height: 30 %>
                        <% elsif workshop.description.include?("photography") || workshop.name.include?("photography") %>
                        <%= image_tag "camera.png", height: 30 %>
                        <% elsif workshop.description.include?("ice") || workshop.name.include?("ice") %>
                        <%= image_tag "ice.png", height: 30 %>
                        <% end %>

                        <% if workshop.price != 0 %>
                        <%= image_tag "money.png", height: 30 %>
                        <% end %>

                        <% if workshop.difficulty.include?("advanced") %>
                        <%= image_tag "puzzle.png", height: 30 %>
                        <% end %>


                      <!--  icons -->


        </div>
      </div>
    </div>
  <% end %>
</div>
