<% photo = @workshop.photo.url ? cl_image_path(@workshop.photo, transformation: {width: 400}) : 'https://www.harrisonburgva.gov/sites/default/files/Parks/images/pottery-class.jpg' %>

<div class="banner" style="background-image: url(<%= photo %>);">

  <div class="banner-content">
    <h1> <%= @workshop.name %> </h1>
  </div>
</div>

<div class="show-box">

  <div class="show-info">
    <div>
       <div class="workshop-show-data"><%= @workshop.description %></div>
       <div class="workshop-show-data"><%= @workshop.syllabus %></div>
       <div class="workshop-show-data"><%= @workshop.category %></div>
       <div class="workshop-show-data"><%= @workshop.area %></div>
       <div class="workshop-show-data"><%= @workshop.date %></div>
    </div>
    <div class="show-button-container">
      <div class="show-button-book">
         <%= link_to "Book", new_workshop_booking_path(@workshop), class: 'btn-book' %>
      </div>
      <div class="show-button-info">
         <button class="btn-info">Info</button>
      </div>
    </div>
  </div>

  <div class="show-map">
    <div>
     <p>MAP</p>
    </div>
  </div>

</div>



