<% photo = @workshop.photo.url ? cl_image_path(@workshop.photo, transformation: {height: 400}) : 'https://images.pexels.com/photos/1166431/pexels-photo-1166431.jpeg' %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= photo %>);">
  <div class="banner-content">
    <h1> <%= @workshop.name %> </h1>
  </div>
</div>

<div class="show-box">
  <div class="show-info">
    <div class="favourite-ticker" id="fav-link-<%= @workshop.id %>">
           <% if user_signed_in? %>
              <%= render 'favourited_link', workshop: @workshop %>
          <% end %>
          </div>
    <div class="workshop-show-data" id="show-date">
      <strong>Date:</strong>
      <%= @workshop.date %>
    </div>
    <div class="workshop-show-data" id="show-price">
      <strong>Price:</strong>
      <%= @workshop.price %> EUR
    </div>
    <div class="workshop-show-data" id="show-address">
      <strong>Address:</strong>
      <%= @workshop.address %>
    </div>
    <div class="workshop-show-data" id="show-description">
      <strong>Description:</strong>
      <%= @workshop.description %>
    </div>
    <div class="workshop-show-data" id="show-syllabus">
      <strong>Syllabus:</strong>
      <%= @workshop.syllabus %>
    </div>
     <div class="workshop-show-data" id="show-difficulty">
      <strong>Difficulty:</strong>
      <%= @workshop.difficulty %>
    </div>
     <div class="workshop-show-data" id="show-difficulty">
      <strong>Capacity:</strong>
      <%= @workshop.capacity %>
    </div>
    <div class="show-button-container">
      <div class="show-button-info">
        <%= link_to "Notes", workshop_notes_path(@workshop), class: "btn-info" %>
      </div>
    </div>
  </div>

<div class="map-booking-show">
    <div class="booking-new-form">
      <%= render 'form_booking', workshop: new_workshop_booking_path(@workshop) %>
    </div>
    <div class="show-map"
     id="map"
     style="width: 500px;
     height: 100vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
    </div>
</div>




