<% photo = @workshop.photo.url ? cl_image_path(@workshop.photo, transformation: {height: 400}) : 'https://images.pexels.com/photos/1166431/pexels-photo-1166431.jpeg' %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= photo %>);">
  <div class="banner-content">
    <h1> <%= @workshop.name %> </h1>
  </div>
</div>

<div class="show-box">

  <div class="show-info">
       <div class="workshop-show-data" id="show-description"><%= @workshop.description %></div>
       <div class="workshop-show-data"><%= @workshop.syllabus %></div>
       <div class="workshop-show-data" id="show-address"><%= @workshop.address %></div>
       <div class="workshop-show-data" id="show-date"><%= @workshop.date %></div>
       <div class="workshop-show-data" id="show-price"><%= @workshop.price %> EUR</div>
    <div class="show-button-container">
      <div class="show-button-book">
         <%= link_to "Book", new_workshop_booking_path(@workshop), class: "btn-info" %>
      </div>
      <div class="show-button-info">
         <%= link_to "Notes", workshop_notes_path(@workshop), class: "btn-info" %>
      </div>
    </div>
  </div>

  <div class="show-map"
        id="map"
        style="width: 400px;
        height: 800px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>



