<div class="container">

  <div class="note-title-box">
   <h1 id="note-header"><%= @workshop.name %></h1>
   <h2 id="note-about">share your notes notes with the workshop!</h2>
  </div>

  <div class="note-poster">

  <%= simple_form_for([@workshop, Note.new]) do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>

</div>



  <% @notes.reverse.each do |note| %>

    <div class="note">
          <p id="note-title"><%= note.title %></p>
          <br>
          <p id="note-content"><%= note.content %></p>
          <br><br>
          <p id="note-stamp"><%= "-#{note.user.email}, #{time_ago_in_words(note.created_at)} ago " %></p>
    </div>
    <% end %>

</div>



