<div class="form-new form-group">
    <h1><%= @workshop.name %></h1>
    <%= @workshop.description %>
    <%= simple_form_for ([@workshop, @booking]), wrapper: :horizontal_form, html: { class: 'form-group '} do |b| %>
    <div class="form-row">
        <h2>Please select the date:</h2>
        <%= b.input :date, input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y') } %>
      </div>
    </div>
    <%= b.button :submit, class: 'btn-book' %>
    </div>
  <% end %>




