<div class="wrapper form-background" id="form" style="background-image: url(<%= image_path 'tim-graf-72723-unsplash.jpg'%>)">
  <h1>Great! You're going to <%= @workshop.name %></h1>
<p>Your booking date is: <%= @booking.date.to_date.strftime('%A, %b %d') %></p>
</div>

<%= link_to 'See My Dashboard', dashboard_path %>
<%= link_to 'Make Another Booking', workshops_path %>
