<div class="container">
  <div class="booking-confirmation">
    <h1>Great! You're going to <%= @workshop.name %></h1>
  </div>
  <%= link_to workshop_path(@workshop) do %>
  <div class="workshop-index-card shadowbox booking-confirm">
    <div class="workshop-index-card-body">
      <%= cl_image_tag @workshop.photo, class: "booking-image" unless @workshop.photo.blank? %>
    </div>
    <div class="workshop-index-card-footer">
      <div class="workshop-main-text-booking">
        <div class="booking-text">
        <%= @workshop.name %>
        </div>
        <div class="booking-logo">
        <% asset_url = "#{@workshop.category}.png" %>
        <%= image_tag(asset_url, width: 30, height: 30) %>
        </div>
      </div>
        <div class="booking-address-date">
      <div id="booking-index-address">
        <%= @workshop.address %>
        </div>
        <div id="booking-index-date">Date:
          <%= @workshop.date %>
      </div>
    </div>
  </div>
  <% end %>

  <div class="booking-button-container">
    <%= link_to 'See My Dashboard', dashboard_path, class: 'btn-info' %>
    <%= link_to 'Make Another Booking', workshops_path, class: 'btn-book' %>
  </div>
</div>


