<div class="container">
   <h1 style="text-align: center">Dashboard</h1>
  <div class="dashboard-container">

  <!--   <div class="dashboard-card shadowbox" id="profile-card">
      <%= current_user.username %>
    </div>
 -->
      <div class="dashboard-card shadowbox overflow" id="favourited-card">
          <div class="favourited-workshop-section overflow">
            <div class="dashboard-highlight">
            <p><%= image_tag "heart_white.png", height: 45, id: "dashboard-header-fave" %></p>
            </div>
             <% current_user.find_liked_items.each do |workshop| %>
             <p class="dashboard-workshop"><%=  link_to workshop.name, workshop_path(workshop) %></p>
             <p class="dashboard-workshop-date"><%=  link_to workshop.date, workshop_path(workshop) %></p>
             <% end %>
          </div>
        </div>

         <div class="dashboard-card shadowbox overflow" id="booked-card">
            <div class="booked-section">
                <div class="dashboard-highlight">
              <p><%= image_tag "appointment_white.png", height: 45, id: "dashboard-header-booked" %></p>
                </div>
                <div class="class-item overflow">
                <% @bookings.each do |booking| %>
                <p class="dashboard-workshop"><%=  link_to booking.workshop.name, workshop_path(booking.workshop) %></p>
                <p class="dashboard-workshop-date"><%= booking.workshop.date %></p>
                <% end %>
              </div>
          </div>
     </div>
        </div>
         <div class="dashboard-card shadowbox" id="notes-card">
      <!--     <h3 class="dashboard-card-header">Workshop notes:</h3> -->
          <div class="note-preview">
      <div id="dashboard-notes-highlight">
      <p id="notes-icon"><%= image_tag "notebook.png", height: 70; %></p>
      </div>
            <div class="row">


          <% @bookings.each do |booking| %>
              <% booking.workshop.notes.each do |note| %>
                  <div class="col-xs-12 col-sm-6 col-md-4" id="note-col">
                <%= link_to note.title, workshop_notes_path(booking.workshop) %> <p id="dashboard-note-workshop"> in <%= booking.workshop.name %></p>
                  </div>
                <% end %>
            <% end %>
            </div>
            </div>
        </div>
     </div>
  </div>
</div>


