<div class="header-box">
  <div id="typed-strings">
    <h1 class="landing-title">ARTHUDDLE</h1>
    <h2 class="landing-subheading">Discover your creative potential</h2>
  </div>
</div>

<div class="container" style="width: 1350px">


  <div class="row">


    <div class="col-xs-4" style="font-size: 12px">
      <div class="sortable-container" style="display: flex; justify-content: center; width: 100%">
        <ul class="sortable-dropzone" style="background-color: #eee9eb; height: 300px; width: 100%; padding-top: 20px">
         <h2 style="text-align: center; font-color: #8C3DC3">1. Pick your category</h2>
          <% Workshop::CATEGORIES.each do |category| %>
          <div class="col-xs-3">

          <li data-value="<%= category %>" class='sortable-item icon-home' style = "list-style-type: none">
            <% asset_url = "#{category}.png" %>
            <%= image_tag(asset_url, width: 45, height: 45) %>
            <%= label_tag(category)%>
          </li>
        </div>
        <% end %>
      </ul>
    </div>
  </div>




  <div class="col-xs-8">
   <div class="flex-container">
     <h2 style="text-align: center; padding-left: 20px">2. Drag and drop your choices here</h2>
     <div class="sortable-container" style="display: flex; justify-content: center">

      <ul id="search-box-drop" class='sortable-dropzone' style="display: flex;  height: 500px; width: 90%">
      </ul>
    </div>
  </div>
  <div>
    <%= form_tag workshops_path, method: "get", id: 'searchForm' do %>
    <%= text_field_tag("categories[]", nil, id: "categories", hidden: true) %>
    <%= submit_tag("Search", :class => "btn btn-secondary btn-lg btn-block" ) %>
    <% end %>
  </div>
</div>
</div>
</div>


 <div class="landing-box-1">
  <div class="landing-image-box-1">
    <img class="landing-image-1" src="https://www.plymouthart.ac.uk/images/uploads/courses/BA_Painting_Drawing_and_Printmaking/15709633014_e2283923ed_k.jpg" alt="class">
  </div>


  <div class="landing-about-1">
    <div class="text-content-1">
     <p id="blurb-1-header">Browse workshops happening near you.</p>
     <br><br>
     <p id="splash-info">Try something new today. Explore upcoming events in a range of media, and find the ideal setting to gain exciting new skills and unleash your creative spirit.</p>
     <br><br>
     <%= link_to "Browse Workshops", workshops_path, class: 'btn-book'%>
   </div>
 </div>
</div>

<div class="seperator-box-1">
</div>

<div class="landing-box-2">
  <div class="landing-image-box-2">
    <img class="landing-image-2" src="https://fryemuseum.org/images/program_images/path-printmaking.jpg" alt="class">
  </div>


  <div class="landing-about-2">
    <div class="text-content-2">
     <p id="blurb-2-header">Hosting a workshop? Advertise it here!</p>
     <br><br>
     <p id="splash-info">Post personalised notes covering topics from the class. Share insights from your experiences, reflect on what you've learnt and share inspiration!</p>
     <%= link_to "Add Your Workshop", new_workshop_path, class: 'btn-book' %>
   </div>
 </div>

</div>

<div class="seperator-box-1">
</div>

<div class="landing-box-3">

 <div class="landing-about-3">
  <div class="text-content-3">
    <div id="footer-logo"><%= image_tag "logo_black.png", height: 100 %>
    </div>
    <div class="meet-team-header">
      Meet the ArtHuddle Team
      <p>Find out more about us on GitHub<p>
      </div>
      <div class="team-container">
        <div class="team-column">
          <%= image_tag "griselle.png", class: 'team-img' %>
          <a href="https://github.com/grisreyesrios">Grisell Reyes Rios</a>
        </div>
        <div class="team-column">
          <%= image_tag "imageofme.jpg", class: 'team-img' %>
          <a href="https://github.com/KatharineDoyle">Katharine Doyle</a>
        </div>
        <div class="team-column">
          <%= image_tag "Sam_pic.jpg", class: 'team-img' %>
          <a href="https://github.com/samb753">Samuel Beca</a>
        </div>
      </div>
    </div>
  </div>

</div>



